{% raw %}
<nav class="navigation">
  {{#if has_previous }}
    <div class="navigation--action" id="previous">
      <div class="navigation-action--icon">
      </div>
      <div class="navigation-action--label">
        <span>Voltar</span>
      </div>
    </div>
  {{/if}}
</nav>

<div class="container">
  <h3>{{ letter number }}) {{ text }}:</h3>
  <div class="answer-container">
    {{#each alternatives}}
    <div class="simple-answer" onclick="examView.selectAlternative({{id}})">
      <div class="simple-answer--letter">
        <span>{{ letter number }}</span>
      </div>
      <div class="simple-answer--text">
        <span>{{ text }}</span>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{% endraw %}
