html {
 box-sizing: border-box;
 outline: none;
}

*,*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: inherit;
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  background: $primary-color;
}
